body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  button.cartButton{
      margin:0 7px;
  }

  div.page{
      width: 90%;
      margin: 15px auto
  }

   a.navlink-link{
    color:rgba(255,255,255,.5);
  }

  a.navlink-link:hover{
    text-decoration: none;
    color:white;
  }